.textContainer {
  width: auto;
  height: auto;
  padding: 10px;
  z-index: 999999;
  mix-blend-mode: difference;
  background: #000;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(5, 1fr);
}
.textContainer h1 {
  font-size: 110px;
  color: #fff;
  transform: scaleY(1.5);
  opacity: 0.8;
  font-family: "Exo 2", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@media only screen and (max-width:1024px){
  .textContainer{
    grid-gap: 30px;
  }
  .textContainer h1{
    font-size: 80px;
  }
}

@media only screen and (max-width:768px){
  .textContainer{
    grid-gap: 20px;
  }
  .textContainer h1{
    font-size: 50px;
  }
}
